body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  width: auto;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #000;
  justify-content: space-between;
}
.menu {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: auto;
  display: flex;
}
.middle {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom {
  width: auto;
}
.bbottom {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
